body {
    max-width: 1440px;
    margin-top : 0px;
    margin-left : auto;
    margin-right : auto;
    align-items : center;
    font-family: 'raleway', sans serif;
}


header {
	margin-top : 10px;
}


@media all and (min-width : 768px) {
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top : 0px;
	}
}


header img {
    margin-left: 20px;
}


@media all and (min-width : 768px) {
	header img {
		
		margin-left : 30px;
		padding-top: 20px;
	}
}


.inscrire {
	float: right;
	color :#0065FC;
	font-weight:bold;
	margin-right: 20px;
	margin-top: 15px;
	text-decoration: none;
}


@media all and (min-width : 768px) {
	.inscrire {
	padding-left: 40px;	
	padding-right: 3%;
	padding-top: 40px;	
	margin-top: 0;
	}
}


nav {
	display: initial;
}


nav ul {
	display: flex;
	padding-left: 0px;
	margin: 0px;
	text-align: center;
}


header ul li {
	border-bottom: 2px solid #F2F2F2;
	padding-bottom: 10px;
	padding-top : 10px;
	width: 50vw;
	list-style-type: none;
}


@media all and (min-width : 768px) {
	header ul li {
		width: auto;
		padding-top: 40px;
		padding-left: 40px;
	    padding-right: 40px;
		padding-bottom: 20px;
		text-align: center;
		border-bottom: none;
	}
}

@media all and (min-width : 768px) {
	header ul li {
	    
	    border-top: 2px solid white;	
	}
}


header ul li:hover {
	border-bottom: 2px solid #0065FC;	
}


@media all and (min-width : 768px) {
	header ul li:hover {
	    border-bottom: none;
	    border-top: 2px solid #0065FC;	
	}
}


li a {
	color : black;
	text-decoration: none;
}


header li:hover a {
	color :#0065FC;
}


/*--------------------------------------------------------------*/

#haut_de_page {
	margin: 24px;
}


#titre_principal {
	font-size: 1.1em;
	padding-bottom: 25px;
}


/*--------------------------------------------------------------*/

#barre_recherche {
	border: 2px #F2F2F2 solid;
	border-radius: 15px;
	border-left : none;
	border-right : none;
	display: inline-block;
}


@media all and (max-width : 320px) {
	#barre_recherche {
		border-left: 2px #F2F2F2 solid; 
		border-right : none;
	}
}


#icone_map {
	padding: 20px;
	background-color: #F2F2F2;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}


@media all and (max-width : 320px) {
	#icone_map {
	    display : none;
	}
}


input {
	padding-left : 10px;
	font-weight: bold;
	border-style: none;	
	width: 175px;
	font-size: 1em;
}


@media all and (max-width : 319px) {
	input {
		width: 150px;
	}
}


button {
	border-radius: 15px;
	color :white;
	background-color : #0065FC;
	padding: 20px;
	border : none;	
}


@media all and (min-width : 768px) {
	button {
     	border-top-left-radius: 0px;
	    border-bottom-left-radius: 0px;
	}
}


.fa-search {
	font-size: 1.2em;
}


@media all and (min-width : 768px) {
	.fas.fa-search {
     	display: none;
	}
}


@media all and (max-width : 767px) {
	button span {
     	display: none;
	}
}


/*--------------------------------------------------------------*/

#categorie {
	font-weight: bold;
}


@media all and (min-width : 768px) {
	#categorie {
	    display: flex;
     	align-items: baseline;
     	margin-top: 15px;
    }
}


#filtres {
	
	margin-right: 5px;
}


#critere {
	display: flex;
	flex-wrap: wrap;
}


#critere div {
	border: 2px #F2F2F2 solid;
	border-radius : 30px /30px;
	border-left: none ;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}


#critere span {
	color : #0065FC;
	border-radius : 50%;
	padding: 15px;
	background-color:#DEEBFF; 
}


#critere div:hover {
    background-color: #DEEBFF;
}


.critere_lien {
	color : black;
	text-decoration: none;
	padding : 15px 15px 15px 10px;
}



/*--------------------------------------------------------------*/

#resultat {
	margin-bottom: 15px;
	margin-top: 15px;
	border-left: none;
	border-radius : 30px /30px;}


.fa-info {
    color: #0065FC;
	border:1px solid #DEEBFF; 
	border-radius : 50%;
	padding: 3.2px 8px 3.2px 8px;
}


/*--------------------------------------------------------------*/

@media all and (min-width : 1025px) {
    #hebergement_et_populaire {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row-reverse;
		justify-content: space-between;
    }
}


/*--------------------------------------------------------------*/

@media all and (min-width : 1025px) {
	#hebergements {
	    background-color: #F2F2F2;
	    border-radius: 30px;
	    width: auto;
    }
}


@media all and (min-width : 1025px) {
	#hebergements {
	    width: 63%;
    }
}


@media all and (min-width : 1440px) {
	#hebergements {
     	width: 70%;
    }
}


#titre_hebergements {
	align-items: center;
}

#titre_hebergements h2 {
    padding-left: 30px;
	margin-top: 30px; 
	font-size: 1.2em;
}


.tous_cadre_hebergements {
	display : flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


.grand_cadre_hebergement {
	background-color: white;
	border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 3px 6px #aaa;
    padding: 4px;   
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 15px;
}


@media all and (max-width : 320px) {
	.grand_cadre_hebergement {
	    padding: 4px;
    }
}


.grand_cadre_hebergement img {
    height: 130px;
    width: 320px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}


@media all and (min-width : 1024px) {
	.grand_cadre_hebergement img {
	    width: 260px;
    }
}


@media all and (max-width : 320px) {
	.grand_cadre_hebergement img {
     	width: 280px;
		height: 110px;
    }
}


.petit_cadre_hebergement {
	font-size: 20px;
	font-family: raleway;
	padding-left : 10px;
	padding-right : 10px;
}


.petit_cadre_hebergement a {
	color: black;
	text-decoration: none;
}


.petit_cadre_hebergement b {
	font-size: 0.8em;
}


.petit_cadre_hebergement .fa-star {
	color:#0065FC;
	font-size: 0.65em;
}


#afficher_plus {
	padding-top: 25px;
	padding-left: 30px;
	font-weight: bold;
	font-size: 1.2em;
}


@media all and (min-width : 1142px) {
	#afficher_plus {
		padding-top: 0px;
    }
}


@media all and (min-width : 1440px) {
	#afficher_plus {
		padding-top: 25px;
    }
}


/*--------------------------------------------------------------*/

#populaire {
	background-color: #F2F2F2;
	width: 100%;
}


@media all and (min-width : 768px) {
	#populaire {
	    border-radius: 30px;
	    width: auto;
	    height: auto;;
    }
}


#titre_populaire {
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 20px;
	margin-top: 20px; 
}


#titre_populaire h2 {
    padding-left: 30px;
	font-size: 1.2em;
}


#titre_populaire span {
   font-size: 1.4em;
}


.tous_cadre_populaire {
	display : flex;
	flex-wrap: wrap;
    justify-content : center;	
	padding-bottom: 20px;
}


@media all and (min-width : 1025px) {
	.tous_cadre_populaire {
	    flex-direction: column;
	    align-content: space-between;
	    padding-bottom: 0px;
    }
}


.grand_cadre_populaire {	
	background-color: white;
	border-radius: 20px;
    box-shadow: 0px 3px 6px #aaa;
    padding: 4px; 
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 320px;
}



@media all and (min-width : 1025px) {
	.grand_cadre_populaire {
	    margin-bottom: 75px;
    }
}


@media all and (min-width : 1440px) {
	.grand_cadre_populaire {
	    margin-bottom: 20px;
    }
}


.grand_cadre_populaire img {
    height: 150px;
    width: 130px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    float: left;
    object-fit: cover;
}


.petit_cadre_populaire {
    padding-left: 15px;
    overflow: hidden;
}


@media all and (max-width : 320px) {
	.petit_cadre_populaire {
	   padding-left: 5px;
    }
}


.petit_cadre_populaire a {
	color: black;
	text-decoration: none;
}


.petit_cadre_populaire_info {
    padding-bottom: 35px;
    overflow: hidden;
}


@media all and (max-width : 320px) {
	.petit_cadre_populaire_info {
	    padding-bottom: 20px; 
    }
}


.petit_cadre_populaire .fa-star {
	color:#0065FC;
	font-size: 0.75em;
}


/*---------------------------------------------------------*/

#activites {
	margin-top : 40px;
	margin-bottom: 25px;
	width: 100%;
}

#activites h2 {
    padding-left: 30px;
	margin-top: 30px; 
	font-size: 1.2em;
}

#tous_cadre_activites {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


#tous_cadre_activites a {
	color: black;
	text-decoration: none;
}


.cadre_activites {
	background-color: white;
	border-radius: 20px;
    box-shadow: 0px 3px 6px #aaa;  
	margin-right : 20px;
	margin-bottom: 15px;
	margin-left: 20px;
}


.cadre_activites h4 {
    padding-left: 15px;
    margin : 15px;
}


@media all and (min-width : 1083px) and (max-width : 1314px) {

	.cadre_activites h4 {
	     font-size: 0.80em;
		 padding-left: 0px;
    }
}


.grand_cadre_activites {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}


.img_grande {
	height: 120px;
	width: 320px;
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}


@media all and (max-width : 320px) {
	.img_grande {
	    width: 280px;
		height: 110px;
    }
}


@media all and (min-width : 738px) {
	.img_grande {
	    height: 340px;
	    width: 320px;
    }
}


@media all and (min-width : 1083px) and (max-width : 1314px) {
	.img_grande {
	    height: 290px;
	    width: 220px;
    }
}


@media all and (min-width : 1315px) and (max-width : 1458px) {
	.img_grande {
	   width: 280px;
    }
}


.grand_cadre_activites img {
	height: 120px;
	width: 320px;
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}


@media all and (max-width : 320px) {
	.grand_cadre_activites img {
	    width: 280px;
		height: 110px;
    }
}


@media all and (min-width : 1083px) and (max-width : 1314px) {
	.grand_cadre_activites img {
  	    width: 220px;		  
    }
}


@media all and (min-width : 1315px) and (max-width : 1458px) {
	.grand_cadre_activites img {
	    width: 280px;
    }
}


@media all and (min-width : 738px) and (max-width : 1314px) {
	.grand_cadre_activites .img_petite1-1 {
		height: 140px;	
	}
}

@media all and (min-width : 1315px){
	.grand_cadre_activites .img_petite1-1 {
		height: 160px;	
	}
}


@media all and (min-width : 738px) and (max-width : 1314px) {
	.grand_cadre_activites .img_petite1-2 {
		height: 80px;	
	}
}

@media all and (min-width : 1315px)  {
	.grand_cadre_activites .img_petite1-2 {
		height: 100px;	
	}
}


@media all and (min-width : 738px) and (max-width : 1314px) {
	.grand_cadre_activites .img_petite2-1 {
		height: 100px;	
	}
}

@media all and (min-width : 1315px) {
	.grand_cadre_activites .img_petite2-1 {
		height: 120px;	
	}
}


@media all and (min-width : 738px) and (max-width : 1314px)  {
	.grand_cadre_activites .img_petite2-2 {
		height: 120px;	
	}
}


@media all and (min-width : 1315px){
	.grand_cadre_activites .img_petite2-2 {
		height: 140px;	
	}
}


/*-----------------------------------------------------------------*/

footer {
	background-color: #F2F2F2;
	padding-left: 27px;
	padding-top: 25px;
}
	

@media all and (min-width : 768px) {
	.footer_total {
	    display: flex;
     	justify-content: space-between;
	    padding-left: 50px;
	    padding-right: 150px;
        width: 80%;
    }
}


@media all and (min-width : 1083px) {
	.footer_total {
	    width: 70%;
    }
}


footer span {
	font-weight: bold;
}
	

footer ul {
	padding-left: 0;
	padding-bottom: 15px;;
}
	


footer ul li {
	list-style-type: none;
	margin-bottom: 10px;
}


footer a {
	text-decoration: none;
	color : black;
}


/*-----------------------------------------------------------------*/


h1 {
    font-size: 1.4em;
    margin-bottom: 15px ;
}


h5 {
	margin-top: 10px ;
	margin-bottom: 5px;
	font-size: 1.1em;
}

@media all and (max-width : 320px) {
	h5 {
	     font-size: 1em;
    }
}

